* {
    font-family: 'Roboto', sans-serif;
}



@import "base/variables";

@import "blocks/header";
@import "blocks/input";
@import "blocks/main";
@import "blocks/title";
@import "blocks/footer";







.container {
    max-width: 1184px;
    padding: 0 8px;
    margin: 0 auto;
}