form {
    input {
        width: 100%;
        margin-top: 126px;
        border: none;
        border-bottom: 1px solid rgba($color: #757575, $alpha: .3);

        &::placeholder {
            font-size: 16px;
            line-height: 24px;
            color: rgba($color: #626262, $alpha: .5);
        }
    }
}