.main {
    &-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__card {
            margin-top: 16px;
            padding-bottom: 20px;
            flex-basis: 32.5%;
            min-height: 366px;

            &:hover,
            :active {
                background: rgba($color: #757575, $alpha: .09);
            }

            a {
                text-decoration: none;

                img {
                    width: 100%;
                }

            }

        }

    }
}