.menu {
    padding-top: 56px;

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-card {
        display: flex;
        margin-top: 49px;
        width: 49.3%;
        max-height: 160px;
        border: 1px solid rgba(117, 117, 117, 0.2);
        border-radius: 2px;

        &__img {
            width: auto;
            height: auto;
        }

        &__top {
            margin-top: 32px;
        }

        &__descr {
            width: 100%;
            position: relative;
            padding: 16px;
            transition: all 0.5s;

            &:hover {
                background: rgba($color: #757575, $alpha: .09);
            }

        }
    }

}