.title {
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
    color: $color_main;

    &__main {
        margin-top: 56px;
    }

    &__heading {
        font-size: 36px;
        line-height: 42px;
    }
}

.subtitle {
    font-size: 16px;
    color: $color_main;

    &__card {
        margin-top: 16px;
    }

    &__time {
        margin-top: 4px;
        font-size: 13px;
    }

    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 32px;
        background: $color_four;
        border-radius: 16px;
        font-size: 13px;
        line-height: 15px;
        color: $color_thre;
    }
}

.descr {
    font-size: 14px;
    line-height: 21px;
    color: $color_second;

    &__heading {
        line-height: 16px;
    }

    &__card {
        margin-top: 4px;
    }

    &__price {
        position: absolute;
        bottom: 16px;
        font-size: 15px;
        font-weight: 500;
        color: $color_main;
    }

    &__menu {
        margin-top: 4px;
        font-size: 13px;
    }
}